body{
   background-color: #1c2041;
    color: var(--color-secundaria);
    font: var(--font-primaria);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
